<head th:fragment="header">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="UTF-8" />
   <title th:text="#{app.title}">YourNews</title>  
   <link rel="stylesheet" href="../static/css/general.css" th:href="@{css/general.css}" />   
</head>
<body>
<header>
  <div class="header-title-container">
  	<a href="/" class="header-title" th:text="#{app.title}">Title</a>
  </div>
  <div class="header-center" th:each="category : ${yournewsCategories}"> 
				
		
    <a th:text="${category.name}" href="category.html" th:href="@{/category.html(id=${category.id})}">Category</a>
 
  </div>
  
  <div class="header-register-login" th:if="${session.user == null}">
    <a href="/registration" th:text="#{app.registration}">Register</a>
    <span class="header-span">|</span>
    <a href="/login" th:text="#{app.login}">Login</a>
  </div>
  
  <div class="dropdown" th:unless="${session.user == null}">
  	<button class="dropbtn" th:text="${session?.user?.userName}">UserName</button>
  <div class="dropdown-content">
    <a href="/write-article" th:if="${session.user.role < 3}">Write Article</a>
    <a href="/my-articles" th:if="${session.user.role < 3}">My articles</a>
    <a href="/logout" th:text="#{app.logout}">Logout</a>
  </div>
  </div>
  
 
 
</header>