<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="fragments/header :: header"> </head>
  <body>
  <div class="container">
    <h1 th:text="#{errorPage.systemError.header}" />
    <h2 th:text="#{errorPage.systemError.message}" />
  </div>
<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>