* {box-sizing: border-box;}


body { 
  background-color: rgb(227, 227, 227);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
}

header a, .header-span {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

header a.header-title {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: rgb(255, 125, 6);
  color: black;
}

.header-register-login {
	float:right;    
}

.dropbtn {
    background-color: rgb(255, 125, 6);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

.dropdown {
    position: relative;
    display: inline-block;
    float:right;
    margin-right:5%;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right:5%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f9f9f9}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 125, 6);
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-center {
    float: none;
  }
  
  .header-register-login {
    float: none;
  }
  
  .header-span {
  	display:none;
  }
  
  .dropdown {
  	float:left;
  }
}




footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.container, .registration-container, .login-container, .article-container {
	margin: 0 20%;
	padding: 16px;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

textarea {
	height: 800px;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
    background-color: rgb(255, 125, 6);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover{
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin, .login, .list-news {
	margin: 0 20%;
    background-color: #f1f1f1;
    text-align: center;
}

.list-news {
	margin: 30px 0;
	padding: 30px 30px;
}

.heading {
	margin-top: 80px;
}

.date, .author {
	font-style: italic;
}

.date {
	float:right;
	padding: 0 0 20px 0;
}

.author {
	float:left;
	padding: 0 0 0 20px;
}

.icon-left {
	float:left;
	width: 30px;
}

.icon-right img{
	float:right;
	width: 30px;
}

.comment{
	height:100px;
}

.formErrorMessage,
.fieldErrorMessage {
	color: red;
}