<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="fragments/header :: header"> </head>
	<div class="container"> 
  		<div th:each="news : ${news}" th:id="${'news' + news.id}" class="list-news">
   			<a href="news.html" th:href="@{/news.html(id=${news.id})}"><h2 th:text="${news.heading}"></h2></a>    
   			<h3 th:text="${news.summary}"></h3> 
   		</div>    
	</div>
	<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>

