<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="fragments/header :: header"> </head>
	<div class="container" th:if="${session.user != null AND session.user.role < 3}"> 
  		<div th:each="news : ${news}" th:id="${'news' + news.id}" class="list-news">
  		<div class="icon-right">
  			<a th:href="@{/edit-news.html(id=${news.id})}"><img src="images/icons8-edit-50.png" alt="Edit"/></a>
  		</div>
  		<div class="icon-left">
  			<img th:if="${news.draft == FALSE}" src="images/icons8-visible-26.png" alt="Visible"/>
  			<img th:if="${news.draft == TRUE}" src="images/icons8-draft-26.png" alt="Draft"/>
  		</div>
   			<a href="news.html" th:href="@{/news.html(id=${news.id})}"><h2 th:text="${news.heading}"></h2></a>    
   			<h3 th:text="${news.summary}"></h3> 
   		</div>    
	</div>
	<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>

