<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="fragments/header :: header"> </head>
	<div class="container"> 
  		<div th:each="news : ${yournewsByID}" th:id="${'news' + news.id}" class="list-news" th:if="${news.draft == FALSE OR session.user.userID == news.userID OR session.user.role == 1}">
  		
  		<p class="author" >Author: <span th:text="${user.userName}"></span></p>
  		<p class="date" >Date: <span th:text="${news.publishingDate}"></span></p>
  			
  			
   			<h1 class="heading" th:text="${news.heading}"></h1>    
   			<h2 th:text="${news.summary}"></h2> 
   			<div th:text="${news.content}"></div> 
   		</div>   
   		
   		
   		
   		
   	<form method="post" th:action="@{/news.html}" action="/news" th:object="${commentForm}"  th:each="news : ${yournewsByID}"  th:if="${news.draft == FALSE AND session?.user != null}">
  	<div class="comment-container">
    <h1>Comment this article</h1>
    <p>Please fill in this box to comment.</p>
    <hr>
    
    <label for="comment"><b>Comment:</b></label>
    <textarea placeholder="Enter Comment" name="comment" class="comment" required></textarea>
    <input type="hidden" th:attr="name='userID'" th:value="${session?.user?.userID}"/>
    <input type="hidden" th:attr="name='newsID'" th:value="${news.id}"/>

  
    <hr />
  
    <button type="submit" class="btn">Comment</button>
  	</div>
  
 
</form>
   		
<div class="comment-container" th:each="news : ${yournewsByID}" th:if="${news.draft == FALSE AND session?.user != null}">
	<h1>Comments</h1>   
 	<div th:each="comment : ${comments}" th:id="${'comment' + comment.id}" class="list-news">
 		
 		<div th:text="${comment.comment}"></div>	
 	</div>

</div>
   		
   		
   		
   		 
	</div>
	<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>

