<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="fragments/header :: header"> </head>
  
   <form method="post" th:action="@{/login}" action="/login" th:object="${loginForm}">
  	<div class="login-container">
    <h1>Login</h1>
    <p>Please fill in this form to login.</p>
    <hr>
    
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" th:field="*{userName}" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" th:field="*{password}" required>

    <hr />
   <div class="formErrorMessage" th:if="${#fields.hasErrors('global')}" th:text="#{error.auth}">Form error</div>
    <button type="submit" class="btn">Login</button>
  	</div>
  
  <div class="container login">
    <p>I don't have an account yet. <a href="/registration">Register</a>.</p>
  </div>
</form>
<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>