<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<form method="post" th:action="@{/write-article}"
	action="/write-article" th:object="${articleForm}">
	<div class="article-container"
		th:if="${session.user != null AND session.user.role < 3}">
		<h1>New Article</h1>
		<p>Please fill in this form to create a new article.</p>
		<hr>

		<label for="heading"><b>Headline</b></label>
		<div class="fieldErrorMessage" th:if="${#fields.hasErrors('heading')}"
			th:errors="*{heading}">Form error</div>
		<input type="text" placeholder="Enter Heading" th:field="*{heading}"
			required> <label for="summary"><b>Summary</b></label>
		<div class="formErrorMessage" th:if="${#fields.hasErrors('summary')}"
			th:errors="*{summary}">Form error</div>
		<input type="text" placeholder="Enter Summary" th:field="*{summary}"
			required> <label for="content"><b>Content</b></label>
		<div class="formErrorMessage" th:if="${#fields.hasErrors('content')}"
			th:errors="*{content}">Form error</div>
		<textarea th:field="*{content}" required></textarea>


		<label for="category"><b>Category</b></label>
		 <select
			th:field="*{categoryID}">
			<option th:each="category : ${yournewsCategories}"
				th:value="${category.id}" th:text="${category.name}">Category</option>
		</select> 
		<select th:field="*{draft}">
			<option value="1">Save as Draft</option>
			<option value="0">Publish Now</option>
		</select>
		
		<input type="hidden" th:attr="name='userID'" th:value="${session?.user?.userID}"/>
		<hr />



		<div class="formErrorMessage" th:if="${#fields.hasErrors('global')}"
			th:errors="*{global}">Form error</div>
		<button type="submit" class="btn">Save</button>
	</div>

	<div class="article-container" th:if="${session.user == null}"></div>

	
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>